<!-- Banner full màn hình -->
<div class="banner">
    <div class="marquee w-100">
        <img src="~/images/ban0.jpg" class="banner-img" />
        <img src="~/images/ban2.jpg" class="banner-img" />
        <img src="~/images/ban1.jpg" class="banner-img" />
    </div>
</div>
