<footer class="bg-dark text-white mt-auto py-4">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-md-4 mb-3">
                <h5>NemeChuaShop</h5>
                <p>Chất lượng & Uy tín – Giao hàng nhanh chóng</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Liên kết</h5>
                <ul class="list-unstyled">
                    <li><a asp-controller="Home" asp-action="Privacy" class="text-white">Chính sách bảo mật</a></li>
                    <li><a asp-controller="Home" asp-action="About" class="text-white">Giới thiệu</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Kết nối</h5>
                <a href="#" class="text-white me-2">Facebook</a>
                <a href="#" class="text-white me-2">Instagram</a>
                <a href="#" class="text-white">TikTok</a>
            </div>
        </div>
        <div class="text-center mt-3">
            &copy; 2025 NemeChuaShop. All Rights Reserved.
        </div>
    </div>
</footer>
